.input {
  height: 36px;
  border-radius: 5px;
  border: 2px solid #848484;
  padding: 8px 12px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px; 
}

.input--error {
  border: 1px solid red;
}

.input--text {
  min-width: 240px;
}

.input::placeholder {
  color: gray;
  opacity: 1;
}

.input:focus {
  border-color: #007bff;
}

.input--date {
  font-family: "Arial", sans-serif;
}

.input:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.input-checkbox {
  width: 14px;
  height: 14px;
  appearance: none;
  outline: none;
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  margin-right: 4px;
}

.input-checkbox::before {
  content: "✔";
  position: absolute;
  font-size: 10px;
  color: black;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.input-checkbox:checked::before {
  opacity: 1;
}

.input-radio-group {
  display: flex;
  align-items: center;
}

.input-radio {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
}

.input-radio:checked {
  background-color: #ffffff;
  border-color: #388E3C;
}

.input-radio:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  background-color: rgb(1, 205, 18);
  border-radius: 50%;
}

.input-radio:hover {
  border-color: red;
}

.input-radio__label {
  margin-top: 2px;
}
